node { 
	size: 15px, 15px;
	fill-mode: gradient-radial;
    fill-color: black, white;
    text-background-mode: plain;
    text-alignment: under;
}

edge {
    shape: line;
    arrow-shape: arrow;
	arrow-size: 10px, 4px;
    text-background-mode: plain;
    text-alignment: along;
    text-color: red;
}

edge.forward {
    shape: line;
	fill-color: yellow;
	arrow-size: 5px, 2px;
}

edge.back {
    shape: line;
	fill-color: red;
	arrow-size: 5px, 2px;
}

node.in {
	size: 15px, 15px;
	fill-mode: plain;
	fill-color: yellow;
    text-background-mode: plain;
    text-alignment: under;
	stroke-mode: plain;
	stroke-color: blue;
}

node.out {
	size: 15px, 15px;
	fill-mode: plain;
	fill-color: red;
    text-background-mode: plain;
    text-alignment: under;
	stroke-mode: plain;
	stroke-color: blue;
}
